@using InternetBanking.Core.Application.ViewModels.CreditCards;
@using InternetBanking.Core.Application.Enums;


@model List<CardViewModel>

<div class="container-fluid">
    <div class="col-12 mt-5">
        <div class="card">
            <div class="card-header d-flex justify-content-between " style="background-color:#09385B">
                <form method="post" asp-controller="CreditCards" asp-action="Index" class="d-flex align-items-cente ms-auto">
                    <div class="me-3">
                        <input type="text" class="form-control" id="filterName" name="IdentityCard" placeholder="Ingrese una Cédula">
                    </div>
                    <button type="submit" class="btn btn-outline-light">Filtrar por cedula</button>
                </form>
            </div>

            <div class="card-header" style="background-color:#09385B">
                <h3 class="card-title text-light text-center">INFORMACION DE LAS TARJETAS DE CREDITOS</h3>
            </div>
            <div class="card-body">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Titular de la Tarjeta</th>
                            <th>Cedula</th>
                            <th>Numero de Tarjeta</th>
                            <th>Tipo de Tarjeta</th>
                            <th>Limite de Credito</th>
                            <th>Disponible</th>
                            <th>Deuda</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (CardViewModel card in Model)
                        {
                            <tr>
                                <td>@card.FullName</td>
                                <td>@card.IdentityCard</td>
                                <td>@card.CardNumber</td>
                                @switch (card.CreditLimited)
                                {
                                    case (int)CreditCards.BLACK:
                                        <td>BLACK</td>
                                        ; break;
                                    case (int)CreditCards.CLASSIC:
                                        <td>CLASSIC</td>
                                        ; break;
                                    case (int)CreditCards.ELITE:
                                        <td>ELITE</td>
                                        ; break;
                                    case (int)CreditCards.DIAMOND:
                                        <td>DIAMOND</td>
                                        ; break;
                                    case (int)CreditCards.PLATINUM:
                                        <td>PLATINUM</td>
                                        ; break;
                                    case (int)CreditCards.GOLD:
                                        <td>GOLD</td>
                                        ; break;
                                }
                                <td>@card.CreditLimited</td>
                                <td>@card.Available</td>
                                <td>@card.Debt</td>
                                @if (card.Debt != 0)
                                {
                                    <td><b class="text-secondary">No se puede eliminar, aun debe dinero</b></td>
                                }
                                else
                                {
                                    <td>
                                        <a class="btn btn-outline-danger" asp-controller="CreditCards" asp-action="DeleteCard" asp-route-id="@card.Id">Eliminar</a>
                                    </td>
                                }

                            </tr>
                        }



                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>