@using InternetBanking.Core.Application.ViewModels.Payment;
@using InternetBanking.Core.Application.Enums;
@model SavePaymentViewModel

@{
    bool isExpress = Model.TypeOfPayment == TypeOfPayment.Express.ToString();
    ViewData["Title"] = isExpress ? "Confirmacion Pago Expreso" : "Confirmacion Pago Beneficiario";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center" style="min-height: 70vh;">
            <div class="col-6">
                <div class="card mt-3">
                    <div class="card-header" style="background-color:#09385B">
                        <h4 class="card-title text-light">@(isExpress ? "¿Está seguro de que desea realizar este pago expreso?" : "¿Está seguro de que desea realizar este pago al beneficiario")</h4>
                    </div>
                    <div class="card-body mt-3">
                        <form class=" mb-3" method="post" asp-controller="Payment" asp-action="@(isExpress ? "ConfirmExpressPayment" : "ConfirmBeneficiaryPayment")">

                            <div class="mb-3">
                                <strong> Titular de la Cuenta:</strong> @Model.FullName
                            </div>

                            <div class="mb-3">
                                <strong> Numero de Cuenta :</strong> @Model.DestinationAccount
                            </div>

                            <div class="mb-3">
                                <strong> Monto a Pagar :</strong> $@Model.Amount RD
                            </div>

                            <div class="mb-3">
                                <strong>Fecha del Pago :</strong> @Model.DateOfPaid
                            </div>

                            <input asp-for="Amount" type="hidden" />
                            <input asp-for="OriginAccount" type="hidden" />
                            <input asp-for="DestinationAccount" type="hidden" />
                            <input asp-for="DateOfPaid" type="hidden" />
                            <input asp-for="IdUser" type="hidden" />
                            <input asp-for="Id" type="hidden" />
                            <input asp-for="HasError" type="hidden" />
                            <input asp-for="Error" type="hidden" />



                            <button type="submit" class="btn btn-outline-primary float-end ms-2">Confirmar Pago</button>
                            <a class="btn btn-secondary float-end" asp-controller="Client" asp-action="Index">Volver</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<style>

    .card {
        border: 0.2px solid #09385B;
        border-radius: 4px 4px 10px 10px;
        box-shadow: 0 0 10px #6BA2CD;
    }

    label {
        color: #1B4A6F;
        font-size: 18px;
        font-weight: bold;
    }

    .input-blue {
        color: #1B4A6F;
        font-size: 18px;
        font-weight: bold;
    }

</style>