@using InternetBanking.Core.Application.ViewModels.Client;
@using InternetBanking.Core.Application.Dtos.Account;
@using InternetBanking.Core.Application.Helpers;
@using InternetBanking.Core.Application.ViewModels.CreditCards;
@using InternetBanking.Core.Application.ViewModels.MoneyLoan;
@inject IHttpContextAccessor httpContextAccessor
@model ClientViewModel
@{
    var User = httpContextAccessor.HttpContext.Session.Get<AuthenticationResponse>("user");
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid">

    <div class="col-12 mt-4">
        <div class="card">

            <div class="card-header" style="background-color:#09385B">
                <div class="row align-items-center mt-sm-2 mb-sm-1">
                    <div class="col-4">
                        <h3 class="text-light">@User.FirstName @User.LastName</h3>
                    </div>
                    <div class="col-4 text-center">
                        <h3 class="text-light">Productos</h3>
                    </div>
                    <div class="col-4 text-end">
                        <div class="btn-group">
                            <i class="fa-solid fa-hand-point-right mt-sm-3" style="font-size: 1.5em; color:white;"></i>
                            <button type="button" class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <h3 class="text-light" style="display: inline; vertical-align: middle;">Solicitudes</h3>
                            </button>
                            <div class="dropdown-menu">
                                <a asp-controller="Client" asp-action="Index" asp-route-id="" title="Cuenta de ahorro" class="dropdown-item"><i class="fa-solid fa-piggy-bank"></i> Cuenta de ahorro</a>
                                <a asp-controller="Client" asp-action="Index" asp-route-id="" title="Tarjeta de credito" class="dropdown-item"><i class="fa-solid fa-money-check"></i> Tarjeta de credito</a>
                                <a asp-controller="Client" asp-action="Index" asp-route-id="" title="Prestamo" class="dropdown-item"><i class="fa-solid fa-vault"></i> Prestamo</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body">
                
                <div class="row justify-content-center">
                    <!--SECCION DE CUENTAS DE AHORRO-->
                    <div class="col-6">
                        <div class="card">
                            <div class="card-header text-light text-center" style="background-color:#09385B">
                                <h5 class="card-title mt-sm-2">Cuentas de ahorro</h5>
                            </div>
                            <div class="card-body d-inline-flex">
                                <table class="table table-responsive">
                                    <thead>
                                        <tr>
                                            <th>Numero de cuenta</th>
                                            <th>Balance</th>
                                        </tr>
                                    </thead>
                                    <tbody class="border-start border-end">
                                        @foreach (var homeClient in ViewBag.SavingAccounts)
                                        {
                                            <tr>
                                                <td>@homeClient.AccountCode</td>
                                                <td>
                                                    <script>
                                                        var balance = @homeClient.Balance;
                                                        var formattedBalance = balance.toLocaleString('es-DO', { style: 'currency', currency: 'DOP' });
                                                        document.write(formattedBalance);
                                                    </script>
                                                </td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!--SECCION DE PRESTAMOS-->
                    <div class="col-6">
                        <div class="card">
                            <div class="card-header text-light text-center" style="background-color:#09385B">
                                <h5 class="card-title mt-sm-2">Prestamos</h5>
                            </div>
                            <div class="card-body d-inline-flex">
                                <table class="table table-responsive">
                                    <thead>
                                        <tr>
                                            <th>Balance prestado</th>
                                            <th>Balance pagado</th>
                                            <th>Balance por pagar</th>
                                        </tr>
                                    </thead>
                                    <tbody class="border-start border-end">
                                        @foreach (MoneyLoanViewModel loans in ViewBag.MoneyLoans)
                                        {
                                        <tr>
                                            <td>@loans.BorrowedBalance</td>
                                            <td>@loans.BalancePaid</td>
                                            <td>@loans.Debt</td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row justify-content-center">

                    <!--SECCION DE TARJETAS DE CREDITO-->
                    <div class="col-12 mt-3 mb-3">
                        <div class="card">
                            <div class="card-header text-light text-center" style="background-color:#09385B">
                                <h5 class="card-title mt-sm-2">Tarjetas de credito</h5>
                            </div>
                            <div class="card-body d-inline-flex">
                                <table class="table table-responsive">
                                    <thead>
                                        <tr>
                                            <th>Numero</th>
                                            <th>Limite</th>
                                            <th>Disponible</th>
                                            <th>Deuda</th>
                                        </tr>
                                    </thead>
                                    <tbody class="border-start border-end">
                                        @foreach (CardViewModel card in ViewBag.CreditCards)
                                        {
                                            <tr>
                                                <td>@card.CardNumber</td>
                                                <td>@card.CreditLimited</td>
                                                <td>@card.Available</td>
                                                <td>@card.Debt</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

     

    </div>

</div>