@using InternetBanking.Core.Application.ViewModels.User;
@model List<UsersViewModel>
@{
    ViewData["Title"] = "Usuarios";
}


<div class="container">
    <div class="col-12 mt-5">
        <div class="d-flex justify-content-end mb-2">
            <a asp-controller="User" asp-action="AddUser" class="btn btn-outline-primary bg-gradient">Registrar nuevo usuario</a>
        </div>
        <div class="card">
            <div class="card-header" style="background-color:#09385B">
                <h3 class="card-title text-light text-center">LISTADO DE USUARIOS</h3>
            </div>

            <div class="card-body">
                <table class="table bg-white">
                    <thead class="text-white table-responsive" style="background-color:#09385B">
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Cédula</th>
                            <th>Correo</th>
                            <th>Rol</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.FirstName</td>
                                    <td>@item.LastName</td>
                                    <td>@item.IdentityCard</td>
                                    <td>@item.Email</td>
                                    <td>@item.Roles.FirstOrDefault()</td>
                                    <td>@(item.IsVerified == true ? "Activo" : "Inactivo")</td>
                                    <td>
                                        <div class="btn-group">
                                            <a asp-controller="" asp-action="" title="Activar" class="btn btn-sm btn-success p-2 text-white m-md-1"><i class="fa-regular fa-thumbs-up"></i></a>
                                            <a asp-controller="" asp-action="" title="Desactivar" class="btn btn-sm btn-danger p-2 text-white m-md-1"><i class="fa-regular fa-thumbs-down"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

