@using InternetBanking.Core.Application.Dtos.Account;
@using InternetBanking.Core.Application.ViewModels.User;
@using InternetBanking.Core.Application.Helpers;
@inject IHttpContextAccessor httpContextAccessor
@model List<UsersViewModel>
@{
    var User = httpContextAccessor.HttpContext.Session.Get<AuthenticationResponse>("user");
    ViewData["Title"] = "Usuarios";
}


<div class="container">
    <div class="col-12 mt-5">
        <div class="d-flex justify-content-end mb-2">
            <a asp-controller="User" asp-action="AddUser" class="btn text-white bg-gradient" style="background-color:#09385B; outline-color:#D3D9DE;">Registrar nuevo usuario</a>
        </div>
        <div class="card">
            <div class="card-header" style="background-color:#09385B">
                <h3 class="card-title text-light text-center">LISTADO DE USUARIOS</h3>
            </div>

            <div class="card-body">
                <table class="table bg-white">
                    <thead class="text-white table-responsive" style="background-color:#09385B">
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Cédula</th>
                            <th>Correo</th>
                            <th>Rol</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.FirstName</td>
                                    <td>@item.LastName</td>
                                    <td>@item.IdentityCard</td>
                                    <td>@item.Email</td>
                                    <td>@item.Roles.FirstOrDefault()</td>
                                    <td>@(item.IsActive == true ? "Activo" : "Inactivo")</td>
                                    <td>
                                        @if (item.Id != User.Id)
                                        {
                                            <div class="btn-group">
                                                @if (item.IsActive != true)
                                                {
                                                    <a asp-controller="User" asp-action="ActivateUser" asp-route-id="@item.Id" title="Activar" class="btn btn-sm btn-success p-2 text-white m-md-1"><i class="fa-regular fa-thumbs-up"></i></a>
                                                }
                                                else if (item.IsActive != false)
                                                {
                                                    <a asp-controller="User" asp-action="DeactivateUser" asp-route-id="@item.Id" title="Desactivar" class="btn btn-sm btn-danger p-2 text-white m-md-1"><i class="fa-regular fa-thumbs-down"></i></a>
                                                }                                                                                       
                                            </div>
                                        }                                     
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

