@using InternetBanking.Core.Application.ViewModels.MoneyLoan;


@model List<MoneyLoanViewModel>

<div class="container-fluid">
    <div class="col-12 mt-5">
        <div class="card">

            <div class="card-header d-flex justify-content-between " style="background-color:#09385B">
                <form method="post" asp-controller="MoneyLoan" asp-action="Index" class="d-flex align-items-cente ms-auto">
                    <div class="me-3">
                        <input type="text" class="form-control" id="filterName" name="IdentityCard" placeholder="Ingrese una Cédula">
                    </div>
                    <button type="submit" class="btn btn-outline-light">Filtrar por cedula</button>
                </form>
            </div>

            <div class="card-header" style="background-color:#09385B">
                <h3 class="card-title text-light text-center">PRESTAMOS EFECTUADOS</h3>
            </div>
            <div class="card-body">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Titular del prestamo</th>
                            <th>Cedula</th>
                            <th>Numero del Prestamo</th>
                            <th>Balance</th>
                            <th>Monto Pagado</th>
                            <th>Deuda</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (MoneyLoanViewModel moneyLoan in Model)
                        {
                            <tr>
                                <td>@moneyLoan.UserFullName</td>
                                <td>@moneyLoan.UserIdentityCard</td>
                                <td>@moneyLoan.MoneyLoanCode</td>
                                <td>@moneyLoan.BorrowedBalance</td>
                                <td>@moneyLoan.BalancePaid</td>
                                <td>@moneyLoan.Debt</td>
                                @if (moneyLoan.Debt != 0)
                                {
                                    <td><b class="text-secondary">No se puede eliminar, aun debe dinero</b></td>
                                }
                                else
                                {
                                    <td>
                                        <a class="btn btn-outline-danger" asp-controller="MoneyLoan" asp-action="DeleteMoneyLoan" asp-route-id="@moneyLoan.Id">Eliminar</a>
                                    </td>
                                }


                            </tr>
                        }



                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>