@using InternetBanking.Core.Application.ViewModels.Home;
@{
    ViewData["Title"] = "Home Page";
}

@model HomeView
<div class="container">

    <h1 class="text-center" style="color:#09385B" >Welcome Back</h1>
    <div class="row mt-5">


        <div class="col-sm-4 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-header text-light text-center" style="background-color:#09385B">
                    <h5 class="card-title">USUARIOS ACTIVOS</h5>
                </div>
                <div class="card-body d-inline-flex">
                    <i class="fa-solid fa-user mt-1"></i>
                    <p class="card-text ms-2"><strong>@Model.ActiveUser USUARIOS ACTIVOS </strong></p>
                </div>
            </div>
        </div>

        <div class="col-sm-4 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-header  text-light text-center" style="background-color:#09385B">
                    <h5 class="card-title">USUARIOS INACTIVOS</h5>
                </div>
                <div class="card-body d-inline-flex">
                    <i class="fa-solid fa-user mt-1"></i>
                    <p class="card-text ms-2"><strong>@Model.InActiveUser USUARIOS INACTIVOS </strong></p>
                </div>
            </div>
        </div>
        
        <div class="col-sm-4 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-header  text-light text-center" style="background-color:#09385B">
                    <h5 class="card-title">TOTAL DE PAGOS HOY</h5>
                </div>
                <div class="card-body d-inline-flex">
                    <i class="fa-solid fa-money-bill mt-1"></i>
                    <p class="card-text ms-2"><strong>@Model.PaymentsPerDay PAGOS REALIZADOS HOY </strong></p>
                </div>
            </div>
        </div>
        
        <div class="col-sm-4 mb-3 mt-3">
            <div class="card">
                <div class="card-header  text-light text-center" style="background-color:#09385B">
                    <h5 class="card-title">PAGOS TOTALES</h5>
                </div>
                <div class="card-body d-inline-flex">
                    <i class="fa-solid fa-money-bill mt-1"></i>
                    <p class="card-text ms-2"><strong>@Model.Payments PAGOS TOTALES </strong></p>
                </div>
            </div>
        </div>
        
        <div class="col-sm-4 mb-3 mt-3">
            <div class="card">
                <div class="card-header  text-light text-center" style="background-color:#09385B">
                    <h5 class="card-title">TOTAL TRANSACCIONES HOY</h5>
                </div>
                <div class="card-body d-inline-flex">
                    <i class="fa-solid fa-money-bill-transfer mt-1"></i>
                    <p class="card-text ms-2"><strong>@Model.TransactionsPerDay TRANSACCIONES HOY </strong></p>
                </div>
            </div>
        </div>

        <div class="col-sm-4 mb-3 mt-3">
            <div class="card">
                <div class="card-header  text-light text-center" style="background-color:#09385B">
                    <h5 class="card-title">TOTAL TRANSACCIONES</h5>
                </div>
                <div class="card-body d-inline-flex">
                    <i class="fa-solid fa-money-bill-transfer mt-1"></i>
                    <p class="card-text ms-2"><strong>@Model.Transactions TRANSACCIONES TOTALES </strong></p>
                </div>
            </div>
        </div>

        <div class="col-sm-4 mb-3 mt-3 offset-4">
            <div class="card">
                <div class="card-header  text-light text-center" style="background-color:#09385B">
                    <h5 class="card-title">PRODUCTOS ASIGNADOS</h5>
                </div>
                <div class="card-body d-inline-flex">
                    <i class="fa-brands fa-product-hunt mt-1"></i>
                    <p class="card-text ms-2"><strong>@Model.Products PRODUCTOS  ASIGNADOS </strong></p>
                </div>
            </div>
        </div>
        
       
    </div>
   

</div>