@using InternetBanking.Core.Application.ViewModels.Payment.EffectiveProgress;
@using InternetBanking.Core.Application.ViewModels.SavingAccount;
@using InternetBanking.Core.Application.ViewModels.CreditCards;
@model SaveEffectiveProgressViewModel
@{
    ViewData["Title"] = "Agregar Avance efectivo";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center" style="min-height: 70vh;">
            <div class="col-6">
                <div class="card mt-3">
                    <div class="card-body mt-3">
                        @if (Model != null && Model.HasError)
                        {
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <p class="text-center">@Model.Error</p>
                                <button type="button" class=" btn btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        }
                        <form class=" mb-3" method="post" asp-controller="EffectiveProgres" asp-action="EffectiveProgress">

                            <div class="mb-3">
                                <label>Seleccione la tarjera de crédito para realizar el avance</label>
                                <select class="form-select" asp-for="OriginAccount">
                                    @foreach (CardViewModel card in ViewBag.CreditCard)
                                    {
                                        <option asp-for="OriginAccount" value="@card.CardNumber"><b class="text-primary">Cuenta: </b>@card.CardNumber <b class="text-primary">Límite: </b>@card.CreditLimited</option>
                                    }

                                </select>
                            </div>

                            <div class="mb-3">
                                <label>Seleccione la cuenta de origen</label>
                                <select class="form-select" asp-for="DestinationAccount">
                                    @foreach (SavingAccountViewModel account in ViewBag.Account)
                                    {
                                        <option asp-for="DestinationAccount" value="@account.AccountCode"><b>Cuenta: </b>@account.AccountCode <b>Balamce: </b>@account.Balance</option>
                                    }
                                </select>
                            </div>

                            <div class="mb-3">
                                <label>Monto a Pagar</label>
                                <input type="number" class="form-control" asp-for="Amount" autocomplete="off">
                            </div>


                            <button type="submit" class="btn btn-outline-primary float-end ms-2">Agregar Beneficiario</button>
                            <a class="btn btn-secondary float-end" asp-controller="Beneficiary" asp-action="Index">Volver</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<style>

    .card {
        border: 0.2px solid #09385B;
        border-radius: 4px 4px 10px 10px;
        box-shadow: 0 0 10px #6BA2CD;
    }

    label {
        color: #1B4A6F;
        font-size: 18px;
        font-weight: bold;
    }

    .input-blue {
        color: #1B4A6F;
        font-size: 18px;
        font-weight: bold;
    }

</style>