@using Microsoft.AspNetCore.Http
@using InternetBanking.Core.Application.Helpers
@using InternetBanking.Core.Application.Dtos.Account
@using InternetBanking.Core.Application.ViewModels.User
@inject IHttpContextAccessor httpContextAccesor
@{
    var User = httpContextAccesor.HttpContext.Session.Get<AuthenticationResponse>("user");
    var isAdmin = User != null && User.Roles != null ? User.Roles.Any(u => u == "Admin") : false;
    var isClient = User != null && User.Roles != null ? User.Roles.Any(u => u == "Client") : false;
    bool isUserAdmin = isAdmin == true ? true : false;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Banquillo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/InternetBanking.styles.css" asp-append-version="true" />
</head>
<body>
    @if (User != null)
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-nav-bar  border-bottom box-shadow mb-3">
                <div class="container-fluid">

                    <a class="navbar-brand text-white" asp-controller="Home" asp-action="@(isUserAdmin ? "Index" : "IndexClient")"> <i class="fa-solid fa-building-columns"></i> EL BANQUILLO</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            @if (isAdmin)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-controller="Home" asp-action="Index">Principal</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-controller="User" asp-action="UserAdministrator"> Usuarios</a>
                                </li>

                                <li class="navbar-nav">
                                    <div class="dropdown text-end">

                                        <a class="nav-link dropdown-toggle text-white" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                            Productos
                                        </a>

                                        <ul class="dropdown-menu" aria-labelledby="dropdownuser">
                                            <li>
                                                <a class="dropdown-item" asp-area="" asp-controller="Products" asp-action="SavingAccount">Cuentas de Ahorro</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" asp-area="" asp-controller="" asp-action="">Tarjetas de credito</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" asp-area="" asp-controller="" asp-action="">Prestamos</a>
                                            </li>
                                           
                                        </ul>

                                    </div>
                                </li>
                            }

                            @if (isClient)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-controller="Client" asp-action="Index">Home</a>
                                </li>
                                <li class="navbar-nav">
                                    <div class="dropdown text-end">

                                        <a class="nav-link dropdown-toggle text-white" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                            Pagos
                                        </a>

                                        <ul class="dropdown-menu" aria-labelledby="dropdownuser">
                                            <li>
                                                <a class="dropdown-item" asp-area="" asp-controller="" asp-action="">Expresos</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" asp-area="" asp-controller="" asp-action="">Tarjeta de credito</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" asp-area="" asp-controller="" asp-action="">Prestamo</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" asp-area="" asp-controller="" asp-action="">Beneficiarios</a>
                                            </li>
                                        </ul>

                                    </div>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="" asp-action="">Avance de efectivo</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="" asp-action="">Beneficiarios</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="" asp-action="">Transferencias</a>
                                </li>

                            }

                            <li class="navbar-nav flex-grow-1 justify-content-end me-4">
                                <div class="dropdown text-end">
                                    <a class="nav-link dropdown-toggle text-white" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                        <b>@User.FirstName @User.LastName</b>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownuser">                                       
                                        <li>
                                            <a class="dropdown-item" asp-area="" asp-controller="Login" asp-action="LogOut">Cerrar sesión</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    }

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - InternetBanking - Russel Brian 2021-1742 - Christopher Peguero 2022-1024 - Gerald Silverio 2022-1068
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    @* Font Awesome Icons *@
    <script src="https://kit.fontawesome.com/1438bae15e.js" crossorigin="anonymous"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<style>

    body {
        background: #D3D9DE;
    }

    .bg-nav-bar {
        background-color: #09385B;
    }


</style>